.homePage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cardStack {
    grid-column: 4;
    grid-row: 2;
}

.card {
    grid-column: 2;
    grid-row: 2;
}

.toAddCard {
    grid-column: 3;
    grid-row: 3;
}